body {
    width: 50em;
    margin: 0 auto;
    background-color: #ddddff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    color: white;
    background-color:#336699;
    margin: 0em;
    padding: 1em;
    position: relative;

}

#header h1 {
    margin: 0;
    padding-top: 0.5em;
}

#header h2 {
    position: absolute;
    top: 0;  left: 0;
    margin: 0; padding: 0;
  
    text-align: center;
  
    background-color: #336699;
    padding: 10px 0;
    width: 100%;
  
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

#menu {
    background-color: #669933;
    float: right;
    width: 200px;
    height: 1640px;
}

#menu ul {
    width: 0 auto;
    margin: 0;
    padding: 0.8em 0;
}

#menu li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
    border-right: 1px solid white;
}

#menu li:last-child{
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: white;
}

#content {
    background-color: #ffffff;
}

.news-item {
    padding: 0.5em 1em;
}

.news-item h3 {
    margin: 0;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.news-item img {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
}

.news-item p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news-item a {
    text-decoration: none;
    color: blue;
}

.introduction {
    font-style: italic;
}

.news-item ul{
    border-bottom: 1px solid black;
    padding: 1em 0;
    margin: 0;
}

.news-item li {
    display: inline;
    border-bottom: 5px solid #a07041;
    background-color: white ;
    padding: 0.5em;
}

.news-item li a{
    color: black;
}

#footer {
    background-color: white;
}

#footer p {
    margin: 0;
    padding-left: 1em;
}