body {
    width: 50em;
    margin: 0 auto;
    background-color: #ddddff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    color: white;
    background-color:#666666;
    margin: 0em;
    padding: 1em;
}

#header h1 {
    margin: 0;
    padding-top: 0.5em;
}

#menu {
    background-color: #330000;
}

#menu ul {
    margin: 0;
    padding: 0.8em 0;
}

#menu li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid white;
}

#menu li:last-child{
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: white;
}

#content {
    background-color: #ffffff;
}

.news-item {
    padding: 0.5em 1em;
}

.news-item h3 {
    margin: 0;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.news-item img {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
}

.news-item p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news-item a {
    text-decoration: none;
    color: white;
}

.introduction {
    font-style: italic;
}

.news-item ul{
    border-bottom: 1px solid black;
    padding: 1em 0;
    margin: 0;
}

.news-item li {
    display: inline;
    background-color: #333333 ;
    padding: 0.5em;
}

#footer {
    background-color: white;
}

#footer p {
    margin: 0;
    padding-left: 1em;
}